<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owner Index Page</title>
</head>
<body>
    <h2 th:text="'List of Owners'"> List of Owners</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Owner Id</th>
                <th style="width: 150px;">Owner FirstName</th>
                <th style="width: 150px;">Owner LastName</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Lenka</td>
            <td th:text="${owner?.lastName}">Nedeljkovic</td>
        </tr>
        </tbody>
    </table>
</body>
</html>