<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vet Index Page</title>
</head>
<body>
    <h1 th:text="'List of Vets'">List of Vets</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Vet Id</th>
            <th>Vet FirstName</th>
            <th>Vet LastName</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet?.id}">1</td>
            <td th:text="${vet?.firstName}">Zoran</td>
            <td th:text="${vet?.lastName}">Babic</td>
        </tr>
        </tbody>
    </table>
</body>
</html>